:root {
    --color1: #ffffff;
    --color2: #365237;
    --color3: #000000;
    --table-color: rgba(255, 255, 255, 0.5);
}

body {
    min-height: 100vh;
    background: linear-gradient(var(--color1), var(--color2));
    overflow: hidden;
    text-align: center;
    padding: 0;
    margin: 0;
}

table, th, td {
    border: 1px solid var(--color3);
}

.main-container {
    width: 70vw;
    height: 70vh;
    margin: 5vh 15vw;
}

.countries {
    width: 100%;
    height: 100%;
    background: var(--table-color);
    border-collapse: collapse;
}
.countries th{
    height: 30px;
}
.countries td{
    padding: 10px;
}

.send-btn {
    float: right;
    width: 100px;
    height: 40px;
    margin: 15px auto;
}

select{
    float: left;
    margin: 15px 15px 15px auto;
}
